.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}

.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}

.files {
  position: relative;
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.color input {
  background-image: url("../../assets/backround.avif");
}

.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.file-names {
  margin: 15px 15px 15px 5px;
  display: flex;
  flex-direction: column;
}

.file-name {
  margin: 0 15px 2px 15px;
  padding: 3px 6px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 3rem;
}

.file-name:last-child {
  margin-bottom: 10px;
}

.hided {
  display: none;
}

.form-input {
  border: none;
}

.tags-list {
  list-style: none;
  margin-bottom: 10%;
}

.tags-list li {
  margin-top: 20px;
  display: inline-block;
  margin-right: 2%;
}

/*.tags-list li {*/
/*    color: white;*/
/*    background-color: #9297a1;*/
/*    border-radius: 5px;*/
/*    padding: 5px;*/
/*    font-size: 25px;*/

/*}*/
