.collections-container {
    width: 20%;
    display: inline-block;
    float: left;
    height: 100dvh;
}

@media screen and (max-width: 767px) {
    .collections-container {
        display: none;
    }
}